
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> PHP storm
.idea/
.idea/*
.DS_Store/
.DS_Store/*
public/.DS_Store/
public/.DS_Store/*
.env.local
public/info.php
public/mypdo.php
public/mysqli.php

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
