<html lang="en" data-coreui-theme="light">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>{% block title %}Bem vindo!{% endblock %}</title>

    <!-- Vendors styles-->
    <link rel="stylesheet" href="/admin/vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="/admin/css/vendors/simplebar.css">
    <!-- Main styles for this application-->
    <link href="/admin/css/style.css" rel="stylesheet">
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link href="/admin/css/examples.css" rel="stylesheet">
    <script src="/admin/js/config.js"></script>
    <script src="/admin/js/color-modes.js"></script>
    <link href="/admin/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        <script>
            function ativarModoEscuro() {
                document.documentElement.classList.add('dark');
            }
        </script>

    {% endblock %}
</head>
<body>
<div class="sidebar sidebar-dark sidebar-fixed border-end" id="sidebar">
    <div class="sidebar-header border-bottom">
        <div class="sidebar-brand">
            <svg class="sidebar-brand-full" width="88" height="32" alt="CoreUI Logo">
                <use xlink:href="/admin/assets/brand/coreui.svg#full"></use>
            </svg>
            <svg class="sidebar-brand-narrow" width="32" height="32" alt="CoreUI Logo">
                <use xlink:href="/admin/assets/brand/coreui.svg#signet"></use>
            </svg>
        </div>
        <button class="btn-close d-lg-none" type="button" data-coreui-dismiss="offcanvas" data-coreui-theme="dark"
                aria-label="Close"
                onclick="coreui.Sidebar.getInstance(document.querySelector(&quot;#sidebar&quot;)).toggle()"></button>
    </div>
    <ul class="sidebar-nav simplebar-scrollable-y" data-coreui="navigation" data-simplebar="init">
        <div class="simplebar-wrapper" style="margin: -8px;">
            <div class="simplebar-height-auto-observer-wrapper">
                <div class="simplebar-height-auto-observer"></div>
            </div>
            <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content"
                         style="height: 100%; overflow: hidden scroll;">
                        <div class="simplebar-content" style="padding: 8px;">
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_admin_dashboard') }}">
                                    <svg class="nav-icon">
                                        <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
                                    </svg>
                                    Dashboard</a></li>
                            <li class="nav-title">Serviços</li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_admin_product_index') }}">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 122.88 114.5" style="enable-background:new 0 0 122.88 114.5"
                                         xml:space="preserve" class="nav-icon">
                                        <g>
                                            <path d="M118.66,9.63c0.67-0.13,1.37,0,1.95,0.35c0.99,0.41,1.69,1.38,1.69,2.52l0.57,79.58c0.05,0.98-0.43,1.95-1.33,2.48 l-32.5,19.39c-0.46,0.35-1.03,0.55-1.65,0.55c-0.15,0-0.3-0.01-0.44-0.04l-84.34-9.38C1.16,105.02,0,103.82,0,102.35V21.42h0 c-0.03-1.08,0.58-2.13,1.64-2.59l42.31-18.6l0,0c0.44-0.2,0.94-0.28,1.46-0.21L118.66,9.63L118.66,9.63z M90.14,33.86v73.06 l27.26-16.26l-0.53-73.65L90.14,33.86L90.14,33.86z M84.65,108.69V34.63l-35.97-4.59L47.5,64.41l-12.63-8.6l-12.63,7.14L24.85,27 L5.49,24.53v75.37L84.65,108.69L84.65,108.69z M78.96,9.94L52.43,25l34.51,4.4l24.19-15.24L78.96,9.94L78.96,9.94z M28.23,21.91 L53.95,6.66l-8.48-1.11L12.74,19.94L28.23,21.91L28.23,21.91z"/>
                                        </g>
                                    </svg>
                                    Produtos
                                </a>
                            </li>


                            <li class="nav-item"><a class="nav-link" href="/admin/typography.html">
                                    <svg class="nav-icon">
                                        <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
                                    </svg>
                                    Typography</a></li>
                            <li class="nav-title">Components</li>
                            <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
                                    <svg class="nav-icon">
                                        <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-puzzle"></use>
                                    </svg>
                                    Base</a>
                                <ul class="nav-group-items compact">
                                    <li class="nav-item"><a class="nav-link" href="/admin/base/accordion.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span>
                                            Accordion</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/base/breadcrumb.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span>
                                            Breadcrumb</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/base/cards.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span> Cards</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/base/carousel.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span>
                                            Carousel</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/base/collapse.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span>
                                            Collapse</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/base/list-group.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span> List
                                            group</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/base/navs-tabs.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span> Navs
                                            &amp; Tabs</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/base/pagination.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span>
                                            Pagination</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/base/placeholders.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span>
                                            Placeholders</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/base/popovers.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span>
                                            Popovers</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/base/progress.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span>
                                            Progress</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/base/spinners.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span>
                                            Spinners</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/base/tables.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span> Tables</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/base/tooltips.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span>
                                            Tooltips</a></li>
                                </ul>
                            </li>
                            <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
                                    <svg class="nav-icon">
                                        <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-cursor"></use>
                                    </svg>
                                    Buttons</a>
                                <ul class="nav-group-items compact">
                                    <li class="nav-item"><a class="nav-link" href="/admin/buttons/buttons.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span>
                                            Buttons</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/buttons/button-group.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span>
                                            Buttons Group</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/buttons/dropdowns.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span>
                                            Dropdowns</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/admin/charts.html">
                                    <svg class="nav-icon">
                                        <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-chart-pie"></use>
                                    </svg>
                                    Charts</a></li>
                            <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
                                    <svg class="nav-icon">
                                        <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-notes"></use>
                                    </svg>
                                    Forms</a>
                                <ul class="nav-group-items compact">
                                    <li class="nav-item"><a class="nav-link" href="/admin/forms/form-control.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span> Form
                                            Control</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/forms/select.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span> Select</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/forms/checks-radios.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span> Checks
                                            and radios</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/forms/range.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span> Range</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/forms/input-group.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span> Input
                                            group</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/forms/floating-labels.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span>
                                            Floating labels</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/forms/layout.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span> Layout</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/forms/validation.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span>
                                            Validation</a></li>
                                </ul>
                            </li>
                            <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
                                    <svg class="nav-icon">
                                        <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-star"></use>
                                    </svg>
                                    Icons</a>
                                <ul class="nav-group-items compact">
                                    <li class="nav-item"><a class="nav-link" href="/admin/icons/coreui-icons-free.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span> CoreUI
                                            Icons<span class="badge badge-sm bg-success ms-auto">Free</span></a></li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/icons/coreui-icons-brand.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span> CoreUI
                                            Icons - Brand</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/icons/coreui-icons-flag.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span> CoreUI
                                            Icons - Flag</a></li>
                                </ul>
                            </li>
                            <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
                                    <svg class="nav-icon">
                                        <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-bell"></use>
                                    </svg>
                                    Notifications</a>
                                <ul class="nav-group-items compact">
                                    <li class="nav-item"><a class="nav-link" href="/admin/notifications/alerts.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span> Alerts</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/notifications/badge.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span> Badge</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/notifications/modals.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span> Modals</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/notifications/toasts.html"><span
                                                    class="nav-icon"><span class="nav-icon-bullet"></span></span> Toasts</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/admin/widgets.html">
                                    <svg class="nav-icon">
                                        <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-calculator"></use>
                                    </svg>
                                    Widgets<span class="badge badge-sm bg-info ms-auto">NEW</span></a></li>
                            <li class="nav-divider"></li>
                            <li class="nav-title">Extras</li>
                            <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
                                    <svg class="nav-icon">
                                        <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-star"></use>
                                    </svg>
                                    Pages</a>
                                <ul class="nav-group-items compact">
                                    <li class="nav-item"><a class="nav-link" href="/admin/login.html" target="_top">
                                            <svg class="nav-icon">
                                                <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
                                            </svg>
                                            Login</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/register.html" target="_top">
                                            <svg class="nav-icon">
                                                <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
                                            </svg>
                                            Register</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/404.html" target="_top">
                                            <svg class="nav-icon">
                                                <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-bug"></use>
                                            </svg>
                                            Error 404</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/admin/500.html" target="_top">
                                            <svg class="nav-icon">
                                                <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-bug"></use>
                                            </svg>
                                            Error 500</a></li>
                                </ul>
                            </li>
                            <li class="nav-item mt-auto"><a class="nav-link"
                                                            href="https://coreui.io/docs/templates/installation/"
                                                            target="_blank">
                                    <svg class="nav-icon">
                                        <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-description"></use>
                                    </svg>
                                    Docs</a></li>
                            <li class="nav-item"><a class="nav-link text-primary fw-semibold"
                                                    href="https://coreui.io/product/bootstrap-dashboard-template/"
                                                    target="_top">
                                    <svg class="nav-icon text-primary">
                                        <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-layers"></use>
                                    </svg>
                                    Try CoreUI PRO</a></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="simplebar-placeholder" style="width: 255px; height: 823px;"></div>
        </div>
        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
            <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
        </div>
        <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
            <div class="simplebar-scrollbar"
                 style="height: 328px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
        </div>
    </ul>
    <div class="sidebar-footer border-top d-none d-md-flex">
        <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
    </div>
</div>
<div class="wrapper d-flex flex-column min-vh-100">
    <header class="header header-sticky p-0 mb-4">
        <div class="container-fluid border-bottom px-4">
            <button class="header-toggler" type="button"
                    onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()"
                    style="margin-inline-start: -14px;">
                <svg class="icon icon-lg">
                    <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-menu"></use>
                </svg>
                Dashboard
            </button>


            <ul class="header-nav">
                <li class="nav-item py-1">
                    <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
                </li>
                <li class="nav-item dropdown">
                    <button class="btn btn-link nav-link py-2 px-2 d-flex align-items-center" type="button"
                            aria-expanded="false" data-coreui-toggle="dropdown">
                        <svg class="icon icon-lg theme-icon-active">
                            <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-sun"></use>
                        </svg>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" style="--cui-dropdown-min-width: 8rem;">
                        <li>
                            <button class="dropdown-item d-flex align-items-center active" type="button"
                                    data-coreui-theme-value="light">
                                <svg class="icon icon-lg me-3">
                                    <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-sun"></use>
                                </svg>
                                Light
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item d-flex align-items-center" type="button"
                                    data-coreui-theme-value="dark">
                                <svg class="icon icon-lg me-3">
                                    <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-moon"></use>
                                </svg>
                                Dark
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item d-flex align-items-center" type="button"
                                    data-coreui-theme-value="auto">
                                <svg class="icon icon-lg me-3">
                                    <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-contrast"></use>
                                </svg>
                                Auto
                            </button>
                        </li>
                    </ul>
                </li>
                <li class="nav-item py-1">
                    <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
                </li>
                <li class="nav-item dropdown"><a class="nav-link py-0 pe-0" data-coreui-toggle="dropdown" href="#"
                                                 role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="avatar avatar-md"><img class="avatar-img" src="/admin/assets/img/avatars/8.jpg"
                                                           alt="user@email.com"></div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end pt-0">
                        <div class="dropdown-header bg-body-tertiary text-body-secondary fw-semibold rounded-top mb-2">
                            Account
                        </div>
                        <a class="dropdown-item" href="#">
                            <svg class="icon me-2">
                                <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-bell"></use>
                            </svg>
                            Updates<span class="badge badge-sm bg-info ms-2">42</span></a><a class="dropdown-item"
                                                                                             href="#">
                            <svg class="icon me-2">
                                <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-envelope-open"></use>
                            </svg>
                            Messages<span class="badge badge-sm bg-success ms-2">42</span></a><a class="dropdown-item"
                                                                                                 href="#">
                            <svg class="icon me-2">
                                <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-task"></use>
                            </svg>
                            Tasks<span class="badge badge-sm bg-danger ms-2">42</span></a><a class="dropdown-item"
                                                                                             href="#">
                            <svg class="icon me-2">
                                <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-comment-square"></use>
                            </svg>
                            Comments<span class="badge badge-sm bg-warning ms-2">42</span></a>
                        <div class="dropdown-header bg-body-tertiary text-body-secondary fw-semibold my-2">
                            <div class="fw-semibold">Settings</div>
                        </div>
                        <a class="dropdown-item" href="#">
                            <svg class="icon me-2">
                                <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                            </svg>
                            Profile</a><a class="dropdown-item" href="#">
                            <svg class="icon me-2">
                                <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-settings"></use>
                            </svg>
                            Settings</a><a class="dropdown-item" href="#">
                            <svg class="icon me-2">
                                <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-credit-card"></use>
                            </svg>
                            Payments<span class="badge badge-sm bg-secondary ms-2">42</span></a><a class="dropdown-item"
                                                                                                   href="#">
                            <svg class="icon me-2">
                                <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-file"></use>
                            </svg>
                            Projects<span class="badge badge-sm bg-primary ms-2">42</span></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <svg class="icon me-2">
                                <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                            </svg>
                            Lock Account</a><a class="dropdown-item" href="#">
                            <svg class="icon me-2">
                                <use xlink:href="/admin/vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
                            </svg>
                            Logout</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="container-fluid px-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb my-0">
                    <li class="breadcrumb-item"><a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item active"><span>Dashboard</span>
                    </li>
                </ol>
            </nav>
        </div>
    </header>
    <div class="body flex-grow-1">
        <div class="container-lg px-4">
            {% block body %}{% endblock %}
        </div>
    </div>
    <footer class="footer px-4">
        <div>Teste</div>
        <div> Teste2</div>
    </footer>
</div>
<!-- CoreUI and necessary plugins-->
<script src="/admin/vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
<script src="/admin/vendors/simplebar/js/simplebar.min.js"></script>
<script>
    const header = document.querySelector('header.header');

    document.addEventListener('scroll', () => {
        if (header) {
            header.classList.toggle('shadow-sm', document.documentElement.scrollTop > 0);
        }
    });
</script>
<!-- Plugins and scripts required by this view-->
<script src="/admin/vendors/chart.js/js/chart.umd.js"></script>
<script src="/admin/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
<script src="/admin/vendors/@coreui/utils/js/index.js"></script>
<script src="/admin/js/main.js"></script>
<script>
</script>


</body>
</html>