{% extends 'base.html.twig' %}

{% block title %}Editar Produto{% endblock %}

{% block body %}
    <h1>Editar Produto  </h1>

    {{ include('admin/product/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('admin/product/_delete_form.html.twig') }}
<div class="row text-end">
    <div class="col">
        <a class="btn btn-primary float-start me-3 mb-5 text-end" href="{{ path('app_admin_product_index') }}">Retornar</a>
    </div>
</div>
{% endblock %}
